/* Product Divider Section */
.product-divider {
  margin-top: -7rem;
  margin-right: 1rem;
  margin-bottom: 9rem;
  margin-left: 0;
  padding: 0;
  max-width: 40%;
}

@media (min-width: 400px) {
  .product-divider {
    margin-top: 14rem;
    margin-right: 0.5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    padding: 0.5rem;
    max-width: 184%;
  }
}

@media (max-width: 639px) {
  .product-divider {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    padding: 0.5rem;
    max-width: 84%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .product-divider {
    margin-top: -22rem;
    margin-right: 0;
    margin-bottom: 6rem;
    margin-left: -3rem;
    padding: 1rem;
    max-width: 113%;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .product-divider {
    margin-top: -10rem;
    margin-right: 5rem;
    margin-bottom: 7rem;
    margin-left: 9.5rem;
    padding: 1.5rem;
    max-width: 70%;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  .product-divider {
    margin-top: -13rem;
    margin-right: 5rem;
    margin-bottom: 8rem;
    margin-left: 2rem;
    padding: 1.5rem;
    max-width: 85%;
  }
}

@media (min-width: 1024px) and (max-width: 1139px) {
  .product-divider {
    margin-top: -20rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
    margin-left: 8rem;
    padding: 2rem;
    max-width: 80%;
  }
}

@media (min-width: 1140px) and (max-width: 1199px) {
  .product-divider {
    margin-top: -22rem;
    margin-right: 5rem;
    margin-bottom: 11rem;
    margin-left: 8rem;
    padding: 2rem;
    max-width: 82%;
  }
}

@media (min-width: 1200px) and (max-width: 1279px) {
  .product-divider {
    margin-top: -24rem;
    margin-right: 5rem;
    margin-bottom: 12rem;
    margin-left: 4rem;
    padding: 2rem;
    max-width: 80%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .product-divider {
    margin-top: -26rem;
    margin-right: 5rem;
    margin-bottom: 13rem;
    margin-left: 2rem;
    padding: 2rem;
    max-width: 83%;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .product-divider {
    margin-top: -23rem;
    margin-right: 0rem;
    margin-bottom: 14rem;
    margin-left: -3rem;
    max-width: 90%;
  }
}

@media (min-width: 1600px) and (max-width: 1799px) {
  .product-divider {
    margin-top: -30rem;
    margin-right: 4rem;
    margin-bottom: 15rem;
    margin-left: -6rem;
    padding: 2rem;
    max-width: 100%;
  }
}

@media (min-width: 1800px) and (max-width: 1935px) {
  .product-divider {
    margin-top: -29rem;
    margin-bottom: 16rem;
    margin-left: -13rem;
    padding: 2rem;
    max-width: 97%;
  }
}

@media (min-width: 1936px) and (max-width: 2388px) {
  .product-divider {
    margin-top: -30rem;
    margin-right: 5rem;
    margin-bottom: 17rem;
    margin-left: -18rem;
    padding: 2rem;
    max-width: 110%;
  }
}

@media (min-width: 2389px) {
  .product-divider {
    margin: -32rem 0 18rem -34rem;
    max-width: 115%;
    padding: 2rem;
  }
} 